@import 'general';
@import 'layout';
@import 'typography';
@import 'variables';
@import 'button';
@import 'icon';

h1 {
  @include g-screen-reader-only;
}

.wrapper {
  @include g-flex-wrapper-alt;
}

.header-toolbar {
  @include g-typography--default;
  justify-content: space-between;
}

.logo {
  width: 4.8rem;
  height: auto;
}

.button {
  &-wrapper {
    margin-right: 2rem;
  }
}

.icon-button {
  @include g-button__icon;
  @include g-typography__button--default;
}

.mat-icon.icon {
  @include g-icon--default;
}

.menu {
  &-toggle {
    height: 32px;
  }
}


////////////////////////
/// Overriding Angular Material styles
//////////////////////

.mat-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
}


////////////////////////
/// Media queries
//////////////////////

@media (min-width: $kw-phone-large) {
  .logo {
    width: 5.4rem;
  }
}

@media (min-width: $kw-tablet-regular) {
  .header-toolbar {
    height: auto;
  }

  .logo {
    &-wrapper {
      margin: 1rem 0;
    }
  }

  .menu {
    &-toggle {
      display: none;
    }
  }
}
