$kw-primary-default: (
  50: #ffffff,
  100: #ffeab2,
  200: #fedd80,
  300: #fed14c,
  400: #fec524,
  500: #fdbc00,
  600: #fdae00,
  700: #fd9b00,
  800: #fd8a00,
  900: #fc6a01,
  A100: #ff9b40,
  A700: #c13900,
  contrast: (
    50: #222222,
    100: #484848,
    200: #707070,
    300: #222222,
    400: #222222,
    500: #222222,
    600: #222222,
    700: #222222,
    800: #efefef,
    900: #ffffff,
  )
);

$kw-secondary-default: (
  50: #dff5f8,
  100: #afe6ed,
  200: #7bd5e1,
  300: #48c4d4,
  400: #20b9cb,
  500: #00adc3,
  600: #009db1,
  700: #008998,
  800: #007580,
  900: #035356,
  contrast: (
    50: #222222,
    100: #222222,
    200: #222222,
    300: #222222,
    400: #222222,
    500: #222222,
    600: #222222,
    700: #0d0d0d,
    800: #ffffff,
    900: #ffffff,
  )
);
