@import 'layout';
@import 'typography';

.container {
  @include g-typography__defaults;
  width: 100vw;
}

.full-page-mobile {
  min-height: 100vh;
}

.section {
  @include g-section;
}


////////////////////////
/// Media queries
//////////////////////

@media (min-width: 768px) {
  .full-page-mobile {
    height: initial;
  }
}
