@import 'layout';
@import 'typography';
@import 'variables';

.container {
  @include g-typography__defaults;
  width: 100vw;
}

.full-page-mobile {
  min-height: 100vh;
}

////////////////////////
/// Media queries
//////////////////////

@media (min-width: $kw-tablet-regular) {
  .full-page-mobile {
    height: initial;
  }
}
