@import 'layout';
@import 'typography';

.wrapper {
  @include g-flex-wrapper;
  row-gap: 2rem;

  &--small {
    max-width: 55vw;
  }
}

.wrapper-alt {
  @include g-flex-wrapper-alt;
  column-gap: 0.5rem;
}

.heading {
  @include g-typography__headings;
}

.page-heading {
  @include g-typography__heading--page;
}

.card {
  max-width: 320px;

  &__actions {
    @include g-flex-wrapper-alt;
    justify-content: flex-end;
    column-gap: 1.2rem;
  }
}

#list-item {
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.list {
  &-item {
    &__heading {
      margin: 0;
    }

    &__price {
      border-radius: 4px;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
    }
  }
}
