@import 'layout';
@import 'typography';
@import 'variables';

.wrapper {
  // @include g-flex-wrapper;
  // gap: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  place-items: center;

  &--small {
    max-width: 55vw;
  }
}

.wrapper-alt {
  @include g-flex-wrapper-alt;
  column-gap: 0.5rem;
}

.heading {
  @include g-typography__headings;
}

.page-heading {
  @include g-typography__heading--page;
}

.card {
  max-width: var(--kw-card-width);

  &__content {
    margin: 0 1.6rem 1.6rem 1.6rem;
  }

  &__actions {
    @include g-flex-wrapper-alt;
    justify-content: flex-end;
    column-gap: 1.2rem;
    margin-left: initial;
    margin-right: initial;
  }
}

#list-item {
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.list {
  &-item {
    &__heading {
      margin: 0;
    }

    &__price {
      border-radius: 4px;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
    }
  }
}


////////////////////////
/// Overriding default Angular Material styles
//////////////////////

.mat-card>.mat-card-actions:last-child {
  margin-bottom: initial;
}


////////////////////////
/// Media queries
//////////////////////

@media (min-width: $kw-tablet-regular) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(10px, var(--kw-card-width)));
    justify-content: center;
  }
}

@media (min-width: $kw-tablet-large) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(10px, var(--kw-card-width)));
  }
}
