<h2 class="mat-h2 heading page-heading">
  Alle kwissen op een rijtje
</h2>
<h3 class="mat-h3 heading wrapper">
  <mat-icon
    aria-hidden="false"
    aria-label="New releases icon"
    fontIcon="new_releases">
  </mat-icon>
  <span>De nieuwste kwissen</span>
</h3>
<h3 class="mat-h3 heading wrapper">
  <mat-icon
    aria-hidden="false"
    aria-label="Event icon"
    fontIcon="event">
  </mat-icon>
  <span>Aankomende kwissen</span>
</h3>
<h3 class="mat-h3 heading wrapper">
  <mat-icon
    aria-hidden="false"
    aria-label="Apps icon"
    fontIcon="apps">
  </mat-icon>
  <span>Alle beschikbare kwissen</span>
</h3>
<mat-card class="card">
  <mat-card-content>
    <mat-selection-list [multiple]="false">
      <mat-list-option
        *ngFor="let quiz of quizzes"
        (click)="selectQuiz(quiz)"
        id="list-item">
        <div class="wrapper">
          <div class="wrapper-alt">
            <h3 class="mat-h3 list-item__heading" mat-line>
              {{ quiz.title }}
            </h3>
            <p mat-line>
              {{ quiz.description }}
            </p>
          </div>
          <span class="list-item__price">
            {{ quiz.price | currency:'EUR':'code' }}
          </span>
        </div>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
