<nav id="main-menu" class="menu">
  <a
    href="#main-menu-toggle"
    class="kw-anchor-light-bgr menu__close"
    aria-label="Close main menu">
    <mat-icon
    aria-hidden="true"
    aria-label="Close icon"
    fontIcon="close">
  </mat-icon>
  </a>
  <ul class="list">
    <li>
      <a [routerLink]="['/quizzes']" class="kw-anchor-light-bgr list-item__link">
        Kwissen
      </a>
    </li>
    <li>
      <a href="#" class="kw-anchor-light-bgr list-item__link">
        Menu item 2
      </a>
    </li>
    <li>
      <a href="#" class="kw-anchor-light-bgr list-item__link">
        Menu item 3
      </a>
    </li>
    <li>
      <a href="#" class="kw-anchor-light-bgr list-item__link">
        Menu item 4
      </a>
    </li>
  </ul>


  <!-- <ul class="list">
    <li *ngFor="let menuItem of menuItems; let last = last" class="list-item" [ngClass]="{ 'last-child': last }">
      <a routerLink = '{{ menuItem.path }}' class="kw-anchor-light-bgr list-item__link">
        <span class="icon-link">
          <mat-icon
            class="icon material-icons-outlined"
            aria-hidden="false"
            aria-label="list icon">
            {{ menuItem.icon }}
          </mat-icon>
          <span>
            {{ menuItem.name }}
          </span>
        </span>
      </a>
      <mat-divider class="divider"></mat-divider>
    </li>
  </ul> -->
</nav>
<a
  href="#main-menu-toggle"
  class="backdrop"
  hidden>
</a>
