<nav id="main-menu" class="menu">
  <a
    href="#main-menu-toggle"
    class="kw-anchor-light-bgr menu__close"
    aria-label="Close main menu">
    <mat-icon
    aria-hidden="true"
    aria-label="Close icon"
    fontIcon="close">
  </mat-icon>
  </a>
  <ul class="list">
    <li>
      <a [routerLink]="['/quizzes']" class="kw-anchor-light-bgr list-item__link">
        Kwissen
      </a>
    </li>
    <li>
      <a href="#" class="kw-anchor-light-bgr list-item__link">
        Menu item 2
      </a>
    </li>
    <li>
      <a href="#" class="kw-anchor-light-bgr list-item__link">
        Menu item 3
      </a>
    </li>
    <li>
      <a href="#" class="kw-anchor-light-bgr list-item__link">
        Menu item 4
      </a>
    </li>
  </ul>
</nav>
<a
  href="#main-menu-toggle"
  class="backdrop"
  hidden>
</a>
