@mixin g-flex-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@mixin g-flex-wrapper-alt {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@mixin g-section {
  padding: 1.5rem 1rem;
}
