////////////////////////
/// Global mixins
//////////////////////

@mixin g-typography__defaults {
  font-size: 1.8rem;
  color: hsla(0, 0%, 13%, 1);
}

@mixin g-typography__headings {
  font-family: 'Libre Baskerville', serif;
}

@mixin g-typography__heading--page {
  text-align: center;
  margin: 3rem 0;
}

@mixin g-typography__misc {
  font-family: 'Caveat', cursive;
}
